<nav class="navbar">
    <ul>
        <li><a class="logoText" href="#">MyBlogs App</a>

        </li>
        <li><a routerLink="/app-blogs" routerLinkActive="active" ariaCurrentWhenActive="page">Blogs List</a></li>
        <li class="addBtn" style="float:right">
            <a routerLink="/app-add-blog" routerLinkActive="active" ariaCurrentWhenActive="page">
                <svg class="material-icons" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M19 13h-6v6h-2v-6H5v-2h6V5h2v6h6v2z"/></svg> Add Blog
            </a>
        </li>
    </ul>
</nav>