$primary-color:#425990;
$secondary-color:#1f3768;
$main-color:#e4e8f9;
body {
    margin-bottom: 0px!important;
}

:host {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 14px;
    color: #333;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.main-content {
    @media (min-width: 1100px) {
        width: 80%;
    }
    @media (min-width: 1200px) {
        width: 70%;
    }
    width: 90%;
    margin: 40px auto;
    padding-top: 40px;
    padding-bottom: 40px;
}