<app-header></app-header>

<div class="main-content">
    <div *ngIf="UiAlert.isError" class="alert alert-danger alert-dismissible">
        <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
        <strong>Danger!&nbsp;</strong> {{UiAlert.errorMessage}}.
    </div>

    <div *ngIf="UiAlert.isSuccess" class="alert alert-success alert-dismissible">
        <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
        <strong>Success!&nbsp;</strong> {{UiAlert.successMessage}}.
    </div>
    <router-outlet></router-outlet>
</div>
<app-footer></app-footer>